@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Configurações globais para redefinição da aparência do html */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    border-color: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

:root {
    --bg-color: #FFFFFF;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --black-shadow: rgba(0, 0, 0, 0.7);
    --gray-color-text: #c8c8c8;
    --link-color: #FFFFFF;
    --link-hover: #efc8ff;
    --purple: #8338EA;
    --blue: #3A86FE;
    --yellow: #FFBF0C;
    --red: #FF368E;
    font-size: clamp(0.2rem, 1vw, 1.2rem);
}

/* Estilização das fontes das páginas e definição de seus spans */

.bold-roxo {
    color: var(--purple);
    font-weight: bold;
    bo: 4px 6px rgba(255, 255, 255, 0.15);
}

.bold-vermelho {
    color: var(--red);
    font-weight: bold;
}

.bold-azul {
    color: var(--blue);
    font-weight: bold;
}

.bold-amarelo {
    color: var(--yellow);
    font-weight: bold;
}

.semibold {
    font-weight: 600
}

.roxo-letras {
    color: var(--purple);
    font-weight: 600;
}



/* --- */
/* PÁGINA INÍCIO / LANDING PAGE */
/* --- */

/* Banner no background do Body */

.hero-inicio {
    background: linear-gradient(0deg, #8338EA, #FF368E)no-repeat top center;
    background-size: 100vw 53rem;
    /* exibe o background do topo da página na classe especifica do body da landing page apenas */
}

/* url('/src/assets/images/BG-inicio.png') no-repeat top center; */

/* CABEÇALHO  */

header {
    height: auto;
    width: 100vw;
    margin: 2rem 7rem 0 0;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: space-between;
    background: none;
}

.logo-titulo {
    width: auto;
    height: 9rem;
    /* transition: transform 0.25s ease-in-out; */
}

/* .logo-titulo:hover {
      transform: translateY(-5px) scale(1.05); 
} */

header nav {
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-flow: nowrap row;
    gap: 2rem;
}

header a {
    margin: 0 2rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
}

a:hover,
a:active {
    color: var(--link-hover)
}

header button {
    background-color: var(--yellow);
    color: var(--white-color);
    border-radius: 9999px;
    padding: 1rem 3rem;
    font-size: 3rem;
    font-weight: 600;
    /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15); */
}

@media {}

/* MAIN */
/* Deinições de tamanhos, posições e layout geral */

/* main {
    display: flex;
    flex-flow: nowrap column-reverse;
    align-items: center;
    width: 100vw;
    height: auto;
    gap: 3rem;
    padding: 0 2vw;
    color: var(--white-color);
}
 */
.texto-principal {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 3rem 0;
    color: var(--white-color);
}

.texto-principal h1 {
    text-align: center;
    font-weight: bold;
    font-size: 7rem;
    line-height: 1.4;
    width: 20ch;
}

.texto-principal p {
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.7;
    max-width: 70ch;
    margin-bottom: 3rem;
}

/* SECTION GENTE-COMO-VOCÊ */

.Gente-como-vc {
    height: auto;
    width: auto;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    margin: 7rem 0;
}

.logo {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

/* .logo:hover {
    transform: translateY(-5px) scale(1.05);
}
 */

.texto-gente {
    display: flex;
    flex-flow: nowrap column;
    gap: 3rem;
}

.Gente-como-vc h2 {
    /* text-align: center; */
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.4;
}

.Gente-como-vc p {
    /* text-align: center; */
    font-size: 2.4rem;
    line-height: 1.7;
    max-width: 60ch;
}

#vida-decente {
    /* text-align: center; */
    font-size: 3rem;
    line-height: 1.7;
    max-width: 60ch;
}

.Gente-como-vc button {
    width: 32rem;
    background-color: var(--purple);
    color: var(--white-color);
    font-size: 2.8rem;
    padding: 1.5rem 4rem;
    border-radius: 9999px;
    cursor: pointer;
}

/* Onda roxa divisória */

.onda-roxa {
    width: 100vw;
    height: auto;
    margin: 9rem 0;
}

/*  SECTION HISTÓRIAS */

.historias {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.historias h2 {
    font-size: 6rem;
    margin-bottom: 3rem;
}

.historias p {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.7;
    max-width: 65ch;
}

.cards-historias {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card-covid,
.card-brinquedos,
.card-natalino {
    width: clamp(200px, 40rem, 40rem);
    margin: 4rem;
    box-shadow: 0 4px 8px 0 rgba(187, 0, 81, 0.4);
    font-size: clamp (0, 0, 4rem);
    transition: 0.3s;
    border-radius: 3rem;
}

.card-covid:hover,
.card-brinquedos:hover,
.card-natalino:hover {
    box-shadow: 0 8px 20px 0 rgba(187, 0, 81, 0.4);
    transform: translateY(-5px) scale(1.05);
}

.cards-historias img {
    width: 100%;
    height: auto;
    border-radius: 3rem 3rem 0 0;
    display: block;
}

.card-hist-descrição {
    width: 100%;
    padding: 1rem 2rem;
    gap: 1.5rem;
    display: flex;
    flex-flow: nowrap column;
}

.card-hist-descrição p {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: start;
}

.card-rodape {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: space-between;
}

.card-rodape p {
    font-size: 2.5rem;
    font-weight: 500;
}

.cards-historias a {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--red);
    border: 1px solid var(--red);
    padding: 6px 18px;
    border-radius: 9999px;
    transition: 0.3s;
    /* display: inline-block;
    text-align: right;
    margin-bottom: 10px; */
}

.cards-historias a:hover {
    background-color: var(--red);
    color: var(--white-color);
}

.historias button {
    background-color: var(--red);
    color: var(--white-color);
    font-size: 3rem;
    padding: 1rem 3em;
    border-radius: 9999px;
    margin: 3rem 0;
    cursor: pointer;
    transition: 0.3s;
}

.historias button:hover {
    box-shadow: 0 8px 20px 0 rgba(187, 0, 81, 0.4);
    transform: translateY(-5px) scale(1.05);
}

.onda-vermelha {
    width: 100vw;
    height: auto;
    margin: 9rem 0;
}

/* SECTION INICIATIVAS */

.iniciativas {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 4rem;
    gap: 3rem;
}

.iniciativas h2 {
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.4;
}

.inic-paragrafo1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.7;
    max-width: 58ch;
}

.inic-paragrafo2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.7;
    max-width: 50ch;
}

.cards-iniciativas {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card-feirão,
.card-roupas,
.card-maternidade {
    width: clamp(200px, 40rem, 40rem);
    margin: 4rem;
    font-size: clamp (0, 0, 4rem);
    box-shadow: 0 4px 8px 0 rgba(0, 105, 234, 0.4);
    transition: 0.3s;
    border-radius: 3rem;
}

.card-feirão:hover,
.card-roupas:hover,
.card-maternidade:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 105, 234, 0.4);
    transform: translateY(-5px) scale(1.05);
}

.cards-iniciativas img {
    width: 100%;
    height: auto;
    border-radius: 3rem 3rem 0 0;
}

.card-inic-descrição {
    width: 100%;
    padding: 1rem 2rem;
    gap: 1.5rem;
    display: flex;
    flex-flow: nowrap column;
}

.card-inic-descrição p {
    font-size: 2.5rem;
    font-weight: 500;
}

.card-quantias {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.card-quantias p {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--blue);
}

.card-quantias .semibold {
    font-size: 2.5rem;
    color: var(--black-color);
}

.progress-bar {
    width: 100%;
    height: 3rem;
    background-color: var(--gray-color-text);
    border-radius: 3rem;
    box-shadow: inset 0 4px 4px rgba(0, 105, 234, 0.4);
}

.card-feirão .progress {
    width: 71.6%;
    height: 3rem;
    background-color: var(--blue);
    color: var(--white-color);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: 500;
}

.card-roupas .progress {
    width: 22%;
    height: 3rem;
    background-color: var(--blue);
    color: var(--white-color);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: 500;
}

.card-maternidade .progress {
    width: 62.9%;
    height: 3rem;
    background-color: var(--blue);
    color: var(--white-color);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: 500;
}

.iniciativas button {
    background-color: var(--blue);
    color: var(--white-color);
    font-size: 3rem;
    padding: 1rem 3em;
    border-radius: 9999px;
    margin: 3rem 0;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 105, 234, 0.4);
}

.iniciativas button:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 105, 234, 0.4);
    transform: translateY(-5px) scale(1.05);
}

/* SECTION DOAÇÃO - FORMULÁRIO */

/* .doacao {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 4rem;
    gap: 3rem;
}

.doacao h2 {
    font-size: 6rem;
}

.titulo-quantia {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.doacao-container2 {
    border: 10px solid var(--yellow);
    margin:
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    border-radius: 50px;
}


.lado-esquerdo {
    flex: 1;
    min-width: 300px;
}

.campo-valor {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 12px;
    padding: 12px 18px;
    margin-bottom: 25px;
    font-size: 18px;
}

.campo-valor span {
    margin-right: 10px;
    font-weight: bold;

}

.campo-valor input {
    border: none;
    background: transparent;
    font-size: 18px;
    width: 100%;
    outline: none;
}

.valores-fixos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

}

.valores-fixos button {
    padding: 12px 0;
    background-color: var(--bg-color);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    transform: scale(1.02);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 550px;
    margin: 0 auto;

}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 200px;
}

.base {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 20px;

}

textarea {
    flex: 1;
    height: 100px;
    margin-right: 10px;

}
 */

/* Section Pós Formulário Doação */

/* Rodapé */

footer {
    width: 100vw;
    height: auto;
    padding: 5rem;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 450;
    /* gap: 4rem; */
}

.contacts {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.contacts-list {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    gap: 2rem;
}

.contacts .ícone {
    height: 1.5em;
    /* Escala com o tamanho do texto */
    width: auto;
}

.Telefone {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    gap: 0.5rem;
    /* Base responsiva */
}

.Instagram {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* Base responsiva */
}

.Youtube {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* Base responsiva */
}

.Facebook {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* Base responsiva */
}

.Twitter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* Base responsiva */
}

.Twitter .ícone {
    height: 1.1em;
    /* Escala com o tamanho do texto */
    width: auto;
}

.logo-footer {
    width: 100%;
    max-width: 550px;
    height: auto;
}

footer nav {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    gap: 2.7rem;
    padding-left: 10rem;
}

.endereços {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.endereços img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 2.5rem;
}

/* input,
textarea,
button {
    border-radius: 50px;
    border: 1px solid var(--gray-color-text);
    padding: 12px 20px;
    font-size: 16px;
    transform: scale(1.02);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
}

button {
    height: 40px;
    padding: 0 20px;
    background-color: var(--yellow);
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
} */

/* SECTION RODAPÉ */

/* .texto-rodape {
    margin-top: 30px;
    font-size: 14px;
    color: var(--black-color);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.compartilhar {
    text-align: center;
    margin: 40px 0 20px;
}

.botao-compartilhar {
    background-color: var(--purple);
    color: var(--white-color);
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
}

.compartilhar p {
    margin-top: 10px;
    color: var(--gray-color-text);
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--purple);
    color: var(--white-color);
    padding: 30px 60px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo-social {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 134px;
    width: 330px;
    margin-top: 0px;
}

.social p {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: 5px 0;
}

.icon {
    width: 20px;
    margin-right: 8px;
}

.links p {
    font-size: 17px;
    margin: 5px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 8px;
    text-align: left;
    width: 300px;
    padding-left: 60px;
}

.footer a {
    color: var(--white-color);
    text-decoration: none;
}

.endereco {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.icon-local {
    width: 50px;
    margin-bottom: 10px;
    align-items: baseline;
}

.endereco p {
    font-size: 16px;
    margin: 4px 0;
} */

/* --- */
/* PÁGINA PROJETOS */
/* --- */

.projetos {
    background: url('/src/assets/images/BG-projetos.jpg') no-repeat top center;
    background-size: 100vw auto;
    /* exibe o background do topo da página na classe especifica do body da página de projetos apenas  */
}



/* --- */
/* PÁGINA SOBRE-NÓS */
/* --- */

.sobre-nós {
    background: linear-gradient(0deg, #8338EA, #FF368E)no-repeat top center;
    background-size: 100vw 53rem;
}

.sobre-nós main {}