@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Configurações globais para redefinição da aparência do html */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    border-color: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
    /* outline: 1px solid red; */
    /* -> medida de teste de layout */
}

:root {
    --bg-color: #FFFFFF;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --black-shadow: rgba(0, 0, 0, 0.7);
    --gray-color-text: #d9d9d9;
    --link-color: #FFFFFF;
    --link-hover: #FFBF0C;
    --purple: #8338EA;
    --blue: #3A86FE;
    --yellow: #f5c000;
    --red: #FF368E;
    font-size: clamp(0.2rem, 1vw, 1.2rem);
}

/* Estilização das fontes das páginas e definição de seus spans */

.bold-roxo {
    color: var(--purple);
    font-weight: bold;
}

.bold-vermelho {
    color: var(--red);
    font-weight: bold;
}

.bold-azul {
    color: var(--blue);
    font-weight: bold;
}

.bold-amarelo {
    color: var(--yellow);
    font-weight: bold;
}

.semibold {
    font-weight: 600
}

.roxo-letras {
    color: var(--purple);
    font-weight: 600;
}


/* --- */
/* PÁGINA INÍCIO / LANDING PAGE */
/* --- */

/* Banner no background do Body */

body {
    background: linear-gradient(0deg, #8338EA, #FF368E)no-repeat top center;
    background-size: 100% 53rem;
}

/* CABEÇALHO  */

header {
    height: auto;
    width: 100%;
    margin: 2rem 7rem 0 0;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: space-between;
    background: none;
}

.logo-titulo {
    margin: 0 4rem;
    width: auto;
    height: 8rem;
    transition: 0.3s;
}

.logo-titulo:hover {
    transform: translateY(-5px) scale(1.15);
}

header nav {
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-flow: nowrap row;
    gap: 2rem;
}

header a {
    margin: 0 2rem;
}

header a {
    color: var(--link-color);
    text-decoration: none;
}

header a:visited {
    color: var(--link-color);
}

header a:hover,
header a:active {
    color: var(--link-hover)
}

#botão-ajuda {
    background-color: var(--yellow);
    color: var(--white-color);
    border-radius: 9999px;
    padding: 1rem 3rem;
    margin: 0 4rem;
    margin: 0 3rem;
    font-size: 3rem;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(234, 164, 0, 0.4);
    transition: 0.3s;
}

#botão-ajuda:hover {
    box-shadow: 0 8px 16px 0 rgba(234, 164, 0, 0.4);
    transform: translateY(-5px) scale(1.05);
}

/* HERO */
/* Deinições de tamanhos, posições e layout geral */

.texto-principal {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 3rem 0;
    color: var(--white-color);
}

.texto-principal h1 {
    text-align: center;
    font-weight: bold;
    font-size: 7rem;
    line-height: 1.4;
    width: 20ch;
    transition: 0.3s;
    text-shadow: 12px 12px 0px rgba(157, 0, 255, 0.7);
}

.texto-principal h1:hover {
    transform: translateY(-5px) scale(1.05);
}


.texto-principal p {
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.7;
    max-width: 70ch;
    margin-bottom: 3rem;
    text-shadow: 4px 4px 42px rgba(255, 255, 255, 0.7);
}

/* SECTION GENTE-COMO-VOCÊ */

.Gente-como-vc {
    height: auto;
    width: auto;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    margin: 9rem 4rem;
}

.logo {
    width: 50%;
    max-width: 1200px;
    height: auto;
    transition: 0.3s;
}

.logo:hover {
    transform: translateY(-5px) scale(1.05);
}

.texto-gente {
    display: flex;
    flex-flow: nowrap column;
    gap: 3rem;
}

.Gente-como-vc h2 {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.4;
}

.Gente-como-vc p {
    font-size: 2.4rem;
    line-height: 1.7;
    max-width: 58ch;
}

#vida-decente {
    font-size: 3rem;
    line-height: 1.7;
    max-width: 60ch;
}

.Gente-como-vc a {
    max-width: 720px;
    margin-top: 2rem;
    background-color: var(--purple);
    color: var(--white-color);
    font-size: 2.8rem;
    padding: 1.5rem 3.5rem;
    border-radius: 9999px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 8px 0 rgba(102, 0, 197, 0.4);
}

.Gente-como-vc a:hover {
    box-shadow: 4px 8px 16px 0 rgba(102, 0, 197, 0.4);
    transform: translateY(-8px) scale(1.15);
}

/*  SECTION HISTÓRIAS */

.historias {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    margin: 9rem 0;
    gap: 3rem;
}

.historias h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.historias p {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.7;
    max-width: 65ch;
}

.cards-historias {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card-row1 {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card-row2 {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card-covid,
.card-brinquedos,
.card-natalino,
.card-comidas,
.card-avião,
.card-bebe {
    width: clamp(200px, 40rem, 40rem);
    margin: 4rem;
    box-shadow: 0 4px 8px 0 rgba(187, 0, 81, 0.4);
    font-size: clamp (0, 0, 4rem);
    transition: 0.3s;
    border-radius: 3rem;
}

.card-covid:hover,
.card-brinquedos:hover,
.card-natalino:hover,
.card-comidas:hover,
.card-avião:hover,
.card-bebe:hover {
    box-shadow: 0 8px 20px 0 rgba(187, 0, 81, 0.4);
    transform: translateY(-5px) scale(1.05);
}

.cards-historias img {
    width: 100%;
    height: auto;
    border-radius: 3rem 3rem 0 0;
    display: block;
}

.card-hist-descrição {
    width: 100%;
    padding: 1rem 2rem;
    gap: 1.5rem;
    display: flex;
    flex-flow: nowrap column;
}

.card-hist-descrição p {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: start;
}

.card-rodape {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: space-between;
}

.card-rodape p {
    font-size: 2.5rem;
    font-weight: 500;
}

.cards-historias a {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--red);
    border: 1px solid var(--red);
    padding: 6px 18px;
    border-radius: 9999px;
    transition: 0.3s;
}

.cards-historias a:hover {
    background-color: var(--red);
    color: var(--white-color);
}

.historias button {
    background-color: var(--red);
    color: var(--white-color);
    font-size: 3rem;
    padding: 1rem 3em;
    border-radius: 9999px;
    margin: 3rem 0;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(187, 0, 81, 0.4);
    transition: 0.3s;
}

.historias button:hover {
    box-shadow: 0 8px 20px 0 rgba(187, 0, 81, 0.4);
    transform: translateY(-5px) scale(1.05);
}

/* SECTION INICIATIVAS */

.iniciativas {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 9rem 0;
    gap: 3rem;
}

.iniciativas h2 {
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.4;
}

.inic-paragrafo1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.7;
    max-width: 58ch;
}

.inic-paragrafo2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.7;
    max-width: 50ch;
}

.cards-iniciativas {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card-feirão,
.card-roupas,
.card-maternidade {
    width: clamp(200px, 40rem, 40rem);
    margin: 4rem;
    font-size: clamp (0, 0, 4rem);
    box-shadow: 0 4px 8px 0 rgba(0, 105, 234, 0.4);
    transition: 0.3s;
    border-radius: 3rem;
}

.card-feirão:hover,
.card-roupas:hover,
.card-maternidade:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 105, 234, 0.4);
    transform: translateY(-5px) scale(1.05);
}

.cards-iniciativas img {
    width: 100%;
    height: auto;
    border-radius: 3rem 3rem 0 0;
}

.card-inic-descrição {
    width: 100%;
    padding: 1rem 2rem;
    gap: 1.5rem;
    display: flex;
    flex-flow: nowrap column;
}

.card-inic-descrição p {
    font-size: 2.5rem;
    font-weight: 500;
}

.card-quantias {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.card-quantias p {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--blue);
}

.card-quantias .semibold {
    font-size: 2.5rem;
    color: var(--black-color);
}

.progress-bar {
    width: 100%;
    height: 3rem;
    background-color: var(--gray-color-text);
    border-radius: 3rem;
    box-shadow: inset 0 4px 4px rgba(0, 105, 234, 0.4);
}

.card-feirão .progress {
    width: 71.6%;
    height: 3rem;
    background-color: var(--blue);
    color: var(--white-color);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: 500;
}

.card-roupas .progress {
    width: 22%;
    height: 3rem;
    background-color: var(--blue);
    color: var(--white-color);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: 500;
}

.card-maternidade .progress {
    width: 62.9%;
    height: 3rem;
    background-color: var(--blue);
    color: var(--white-color);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: 500;
}

.iniciativas button {
    background-color: var(--blue);
    color: var(--white-color);
    font-size: 3rem;
    padding: 1rem 3em;
    border-radius: 9999px;
    margin: 3rem 0;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 105, 234, 0.4);
}

.iniciativas button:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 105, 234, 0.4);
    transform: translateY(-5px) scale(1.05);
}

/* SECTION DOAÇÃO - FORMULÁRIO */

.doacao {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 4rem 0;
    gap: 3rem;
}

.doacao h2 {
    font-size: 6rem;
}

.doacao-container h3 {
    font-size: 3rem;
}

.titulo-quantia {
    font-size: 3rem;
    text-align: center;
}

.doacao-container {
    max-width: 90%;
    height: auto;
    border: 10px solid var(--yellow);
    border-radius: 80px;
    padding: 2rem;
    display: flex;
    flex-flow: nowrap column;
    gap: 3rem;
}

.doacao-container2 {
    display: flex;
    flex-flow: nowrap row;
    gap: 5%;
}

.lado-esquerdo {
    display: flex;
    flex-flow: nowrap column;
    width: 30%;
    height: auto;
    gap: 2.5rem;
}

.campo-valor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 3rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(113, 89, 0, 0.3);
    border-radius: 20px;
}

.campo-valor span {
    margin-left: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[id="valor-doacao"] {
    font-size: 3rem;
    text-align: right;
    width: 100%;
    margin-right: 25px;
    outline: none;
    border-radius: inherit;
}

.valores-fixos {
    display: flex;
    flex-flow: nowrap row;
    gap: 5%;
}

.valores-esquerda {
    display: flex;
    flex-flow: nowrap column;
    width: 50%;
    gap: 2.5rem;
}

.valores-direita {
    display: flex;
    flex-flow: nowrap column;
    width: 50%;
    gap: 2.5rem;
}

.doacao-container2 input:not(#valor-doacao),
.doacao-container2 button:not(button[type="submit"]),
.doacao-container2 textarea {
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(113, 89, 0, 0.3);
    border-radius: 20px;
    outline: none;
    background-color: var(--white-color);
}

.valores-fixos button {
    padding: 12px 0;
    font-size: 2rem;
    transition: all 0.2s ease;
}

.valores-fixos button:hover {
    background-color: #ffdb80;
    color: var(--black-color);
}

.valores-fixos button.ativo {
    background-color: var(--yellow);
    color: var(--yellow);
    border: 1px solid var(--yellow);
    border-color: var(--yellow);
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.formulario {
    display: flex;
    flex-flow: nowrap column;
    width: 70%;
    height: auto;
}

.formulario p {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.form-colunas {
    display: flex;
    flex-flow: nowrap row;
    gap: 5%;
}

.coluna-esquerda {
    display: flex;
    flex-flow: nowrap column;
    width: 70%;
    gap: 1.5rem;
}

.coluna-direita {
    display: flex;
    flex-flow: nowrap column;
    width: 30%;
    gap: 1.5rem;
}

input[id="nome"] {
    font-size: 1.8rem;
    text-align: center;
}

input[id="idade"] {
    font-size: 1.8rem;
    text-align: center;
}

input[id="email"] {
    font-size: 1.8rem;
    text-align: center;
}

input[id="telefone"] {
    font-size: 1.8rem;
    text-align: center;
}

.form-base {
    display: flex;
    flex-flow: nowrap row;
    width: 100%;
    margin-top: 1.5rem;
    gap: 5%;
}

.form-base textarea {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.6;
    width: 65%;
    overflow: hidden;
    resize: none;
    min-height: 230px;
}

.form-base button[type="submit"] {
    background-color: var(--yellow);
    color: var(--white-color);
    font-size: 3rem;
    padding: 1rem 6rem;
    border-radius: 60px;
    cursor: pointer;
    margin-top: auto;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(234, 164, 0, 0.4);
}

.form-base button[type="submit"]:hover {
    box-shadow: 0 8px 16px 0 rgba(234, 164, 0, 0.4);
    transform: translateY(-5px) scale(1.05);
}

/* SECTION PÓS FORMULÁRIO - COMPARTILHE */

.pos-doacao {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    gap: 3rem;
    margin: 5rem 0;
}

.pos-doacao p {
    font-size: 2rem;
    text-align: center;
    width: 60ch;
}

.botao-compartilhar {
    background-color: var(--white);
    color: var(--purple);
    border: 1px solid var(--purple);
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 4rem;
    border-radius: 9999px;
    margin: 1.5rem 0;
    cursor: pointer;
    transition: 0.3s;
}

.botao-compartilhar:hover {
    background-color: var(--purple);
    color: var(--white-color);
    box-shadow: 4px 8px 16px 0 rgba(102, 0, 197, 0.4);
    transform: translateY(-5px) scale(1.05);
}

/* RODAPÉ */

footer {
    width: 100%;
    height: auto;
    padding: 5rem 5rem 2rem 5rem;
    gap: 4rem;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 450;
}

.footer-row1 {
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: flex-start;
}

.titulo-footer {
    font-size: 3.5rem;
}

.contacts {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
}

.contacts-list {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    gap: 3.3rem;
}

.contacts .ícone {
    height: 1.5em;
    /* Escala com o tamanho do texto */
}

.Telefone {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    gap: 0.5rem;
}

.Instagram {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Youtube {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Facebook {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Twitter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Twitter .ícone {
    height: 1.1em;
    width: auto;
}

.footer-saiba {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    gap: 2.7rem;
    transform: translateX(145px);
}

footer nav {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    gap: 3.3rem;
}

footer a {
    margin: 0 2rem;
}

footer a {
    color: var(--link-color);
    text-decoration: none;
}

footer a:visited {
    color: var(--link-color);
}

footer a:hover,
footer a:active {
    color: var(--link-hover)
}

.endereços {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
}

.endereços img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.footer-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo-footer {
    width: 100%;
    max-width: 450px;
    height: auto;
    transition: 0.3s;
}

.logo-footer:hover {
    transform: translateY(-5px) scale(1.15);
}